#cont-login {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: burlywood; 
}

.test {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: burlywood;
}