<%- include('assets/head') -%>
<div class="container mx-auto text-center" style="margin: 20px; padding: 30px; background-color: azure;">

    <h1>Gaya Belajar Kamu Adalah Audiotory</h1>
<h4>Orang dengan gaya belajar auditori memiliki indera pendengaran yang lebih baik dan lebih terfokus. Orang dengan gaya belajar ini mampu memahami sesuatu lebih baik dengan cara mendengarkan. Hal ini berkaitan dengan proses menghafal, membaca, atau soal cerita. </h4>
<br>
    <h2>Metode Belajar Yang Tepat Untuk Kamu :</h2>
    <ul>
        <li> 1. Dengarkan musik yang disukai</li>
        <li> 2. Bisa merekam saat guru mengajar lalu dikemudian hari didengarkan kembali</li>
        <li> 3. Apabila membaca buku, bisa sambil diucapkan dengan suara pelan untuk lebih mudah mengingat</li>
        <li> 4. Mendengarkan materi yang diajarkan guru saat di kelas dengan seksama</li>
        <li> 5. Belajar dengan diskusi bersama teman supaya lebih mudah memahami maupun mengingat materi</li>
    </ul>  
</div>