<%- include('assets/head') -%>
<div class="container mx-auto text-center" style="margin: 20px; padding: 30px; background-color: azure;">

    <h1>Gaya Belajar Kamu Adalah Kinestetic</h1>
<h4>Gaya belajar kinestetik yaitu gaya belajar dengan melibatkan gaya gerak. Hal yang berkaitan yaitu seperti olahraga, menari, memainkan musik, percobaan laboratorium, dan lainnya. Gaya belajar ini efektif untuk anak yang menyukai gerak dan gambaran imajinasi berdasarkan gerakan. </h4>
<br>
    <h2>Metode Belajar Yang Tepat Untuk Kamu :</h2>
    <ul>
        <li> 1. Saat mendapatkan materi belajar, bila memungkinkan segera coba praktikkan</li>
        <li> 2. Belajar sambil melakukan aktivitas yang melibatkan gerakan, misalnya sambil berjalan atau sesederhana menjetikkan jari</li>
        <li> 3. Melakukan eksperimen dari materi yang didapatkan dari guru</li>
        <li> 4. Bisa mengunjungi tempat yang berhubungan materi di pelajaran, misalnya untuk pelajaran Sejarah bisa mengunjungi museum</li>
        <li> 5. Mengikuti ekstrakurikuler seperti seperti KIR (Kelompok Ilmiah Remaja)  </li>
    </ul>  
</div>